<div class="flex flex-row px-6 pb-8">
    <div class="flex flex-col w-[25rem] mx-4 mt-6">
        <div class="flex pb-4 mr-4 mb-4 justify-center">
            <span class="text-2xl align-center">Recently edited lessons</span>
        </div>
        <% @recently_updated_pages.each do |lesson_page| %>
                <%= link_to admin_lesson_page_path(lesson_page), class: ("mr-4 mb-3 lesson_page_button 
                            flex-0 group rounded px-6 py-2 shadow-md flex items-center flex-col h-fit unselected") do %>
                            <div class="w-full flex justify-between items-center">
                                <span class="text-xl group-hover:underline flex-1">
                                    <%= lesson_page.title.capitalize %>
                                </span>
                            </div>
                <% end %>
        <% end %>
    </div>
    <div class="flex flex-col mx-4 mt-6 w-full">
        <div class="flex justify-between pb-4">
            <span class="flex">
                <div class="text-2xl hover:underline hover:text-blue-700">Subjects</div>
            </span>
            <button data-action="click->admin#toggle" class="btn btn-blue border-black bg-slate-grey text-md font-light rounded py-1 px-4">
                  + New
            </button>
        </div>
        <%= form_with(model: @new_subject, scope: :subject, url: admin_subjects_path, 
            class: "p-6 flex flex-col creator_card hidden") do |f| %>
            <div class="py-6 text-2xl">New Subject:</div>
            <div class="border-2 rounded p-6 shadow-md bg-white flex flex-col items-center">
                <div class="flex justify-between w-full align-center">
                    <div class="mr-4 pt-1 text-xl font-semibold group-hover:underline flex-1 flex flex-col justify-between">
                      <%= f.text_field :title, class: "text-xl font-semibold 
                          max-w-md border-0 border-b border-solid border-blue-900 focus:border-0 focus:border-blue-900" %>
                      <%= f.text_field :subtitle, class: "mb-1 mt-6 rounded text-xl font-semibold 
                          max-w-6xl border-0 border-b border-solid border-blue-900 focus:border-0 focus:border-blue-900" %>
                    </div>
                    <label for="subject_image_uploads" class="flex-0 w-60 hover:cursor-pointer">
                          <%= image_tag(image_path('upload_image.png'), class: "image_display object-fill") %>        
                          <%= f.file_field :image, type: "file", id: "subject_image_uploads", accept: ".png, .jpeg, .jpg", 
                              class: "image_file hidden", direct_upload: true %>
                    </label>
                </div>
            </div>
            <%= f.submit "Create Subject", class: "self-end mt-4 btn btn-blue border-black bg-slate-grey text-xl font-light rounded-xl" %>
        <% end %>
        <div class="flex flex-row flex-wrap max-w-full mt-4">
              <% @subjects.each do |subject| %>
                  <%= turbo_frame_tag subject, class:"card mb-6 mr-6" do %>
                    <%= link_to admin_subject_lessons_path(subject), class: "min-w-[12rem] border-2 group rounded p-6 shadow-md hover:shadow-lg hover:border 
                            hover:bg-emerald-50 hover:border-l-4 bg-white flex flex-col items-center" do %>
                            <div class="flex-0">
                                <% if subject.image.representable? %>
                                    <%= image_tag(subject.image.representation(resize_to_limit: [300, 300]), class: "object-contain max-h-16") %>
                                <% else %>
                                    <%= image_tag(image_path('upload_image.png'), class: "object-contain max-h-16") %>
                                <% end %>
                            </div>
                            <span class="text-xl font-semibold group-hover:underline flex-1 pt-2">
                                <%= subject.title.capitalize %>
                            </span>
                    <% end %>
                    <div class="mx-6 flex mt-4 justify-center">
                        <%= link_to 'Edit', edit_admin_subject_path(subject), class: "px-4 py-2 btn btn-blue border-black bg-slate-grey text-md font-light rounded mr-4" %>
                        <%= link_to 'Delete', admin_subject_path(subject), data: {turbo_method: :delete, turbo_confirm: "are you sure?"}, class: "bg-gray-200 hover:bg-gray-300 
                            text-gray-700 px-4 py-2 border-black bg-slate-grey text-md rounded" %>
                    </div>
                  <% end %>
              <% end %>
        </div>
    </div>
</div>
