<%= turbo_frame_tag "new_alternative" do %>
    <%= form_with(model: @new_alternative, scope: :alternative, url: admin_summary_alternative_path(@summary)) do |f| %>
      <div class="flex flex-col mx-6 mt-6 items-center border border-slate-300 rounded bg-white w-fit">
        <div class="flex flex-col p-4 w-full border-t-2"> 
            <span class="pb-2"><%= f.label :title %></span>
            <span><%= f.text_field :title, class: "rounded" %></span>
        </div>     
        <div class="flex flex-col p-4 w-full border-t-2"> 
            <span class="pb-2"><%= f.label :description %></span>
            <span><%= f.text_field :description, class: "rounded" %></span>
        </div>                         
        <div class="flex flex-col p-4 w-full border-t-2"> 
            <span class="pb-2"><%= f.label :pros %></span>
            <span><%= f.text_area :pros, class: "rounded" %></span>
        </div>    
        <div class="flex flex-col p-4 w-full border-t-2"> 
            <span class="pb-2"><%= f.label :cons %></span>
            <span><%= f.text_area :cons, class: "rounded" %></span>
        </div>  
      </div>
    <% end %>
<% end %>