<%= turbo_frame_tag @lesson do %>
    <div class="flex my-4 justify-between">
        <span class="text-lg self-center">
            <%= link_to "Subjects", admin_subjects_path, class: "hover:underline hover:text-blue-700" %>
            <%= " > #{@subject.title} > #{@lesson.title}" %>
        </span>
        <span class="flex">
            <button class="btn btn-blue border-black bg-slate-grey text-md font-light rounded mr-2" data-action="admin#updateLesson">
                Update Lesson
            </button>
            <%= link_to 'Cancel', admin_lesson_path(@lesson), class: "bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 border-black bg-slate-grey text-md rounded" %>
        </span>
    </div>
    <%= form_with(model: @lesson, scope: :lesson, method: :patch, url: admin_lesson_path(@lesson), data: { 'admin-target': "editLessonForm" },
        class: "pb-6 flex flex-col") do |f| %>
            <div class="border-2 rounded p-6 shadow-md bg-white flex flex-col items-center overflow-y-scroll overflow-x-hidden max-h-[35rem]">
                <div class="w-full mr-4 text-xl group-hover:underline flex-1 flex flex-col justify-between min-w-0">
                    <div class="flex">
                        <div class="flex flex-1 flex-col">
                            <%= f.label :title, class: "text-lg font-semibold pt-2 pl-4 w-[8rem]" %>
                            <%= f.text_field :title, class: "pr-2 pl-4 py-0 text-lg mt-1.5 mb-2
                                border-0 border-b border-solid border-b-blue-300 focus:border-b-blue-800 focus:ring-0
                                text-lg pl-4" %>
                            <%= f.label :subtitle, class: "text-lg font-semibold pt-2 pl-4 w-[8rem]" %>
                            <%= f.text_field :subtitle, class: "pr-2 pl-4 py-0 text-lg mt-1.5 mb-2
                                border-0 border-b border-solid border-b-blue-300 focus:border-b-blue-800 focus:ring-0" %>
                        </div>
                        <label for="lesson_image_uploads" class="flex items-center flex-0 justify-center hover:cursor-pointer mt-6 ml-6">
                            <figure>
                                <% if @lesson.image.representable? %>
                                        <%= image_tag(@lesson.image.representation(resize_to_limit: [300, 300]), data: { 'admin-target':'imageBox' },
                                        class: "object-contain w-[15rem]") %>
                                <% else %>
                                    <%= image_tag(image_path('upload_image.png'), class: "object-contain w-[15rem]",  data: { 'admin-target':'imageBox' }) %>
                                <% end %>
                            </figure>
                            <%= f.file_field :image, type: "file", id: "lesson_image_uploads", accept: ".png, .jpeg, .jpg", direct_upload: true,
                                    class: "image_file hidden", data: { 'action': 'change->admin#display_image', 'admin-target':'imageInput' } %>
                        </label>
                    </div>
                    <div class="flex flex-col justify-between">
                        <%= f.label :description, class: "text-lg font-semibold pt-2 pl-4 w-[8rem]" %>
                        <%= f.text_area :description, class: "flex-1 mt-1.5 text-lg mb-2
                            border border-solid border-blue-900 focus:border-0 rounded focus:border-blue-900", rows: '5' %>
                    </div>
                    <div class="flex flex-col">
                        <%= f.label :objectives, class: "text-lg font-semibold pt-2 pl-4 w-[8rem]" %>
                        <ul class="mt-1.5 list-disc text-lg text-center w-full ml-3" data-admin-target="summarySourcesInput">
                            <% if (@lesson.objectives.count == 0) %>
                                    <%= f.hidden_field :objectives, value: '[]' %>
                                    <li class="mb-1"><input class="lesson_objective border-none w-[95%] bg-transparent" type="text" name="lesson[objective]" value="" ></li>
                            <% else %>
                                <%= f.hidden_field :objectives, value: @lesson.objectives.to_json %>
                                <% @lesson.objectives.each do |obj| %>
                                    <li class="mb-1">
                                        <input class="lesson_obj border-none w-[95%] bg-transparent" type="text" name="lesson[objective]" value="<%= obj.capitalize %>" >
                                        <span class="cross" data-action="click->admin#remove_bullet">&#9587;</span>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                    <div class="flex flex-col">
                        <%= f.text_area :objective, value: "", class: "max-h-[4.5rem] flex lesson_objective flex-1 pl-4
                            border border-solid focus:border-blue-900 rounded", data: { "admin-target":"newSummarySource" }, rows: 3 %>
                        <div class="flex self-end">
                            <div data-action="click->admin#update_summary_sources" class="w-fit btn-blue text-sm
                                    font-light px-4 py-2 border-black text-md rounded mt-4 hover:cursor-pointer align-end">
                                Update Objectives
                            </div>
                            <div data-action="click->admin#add_summary_source" class="h-fit ml-2 w-fit btn-blue text-sm
                                    font-light px-4 py-2 border-black text-md rounded mt-4 hover:cursor-pointer">
                                + Add Objectives
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <% end %>
<% end %>