<div class="flex flex-row px-6 pb-8">
    <div class="flex flex-col mx-4 mt-6 w-full">
        <div class="flex pb-4 mr-4 justify-between">
            <div class="flex mb-4">
                <%= link_to "Subjects", admin_subjects_path, class: "font-light text-2xl hover:underline hover:text-blue-700" %>
                <span class="px-2 font-light text-2xl">></span>
                <span class="text-2xl font-bold align-center"><%= @subject.title %></span>
                <span class="text-xl self-center pl-2">(<%= @lessons.count %> Lessons)</span>
            </div>
            <%= button_to "+ New", admin_subject_lessons_path(@subject), method: :post, 
                class: "btn btn-blue border-black bg-slate-grey text-md font-light rounded py-1 px-4" %>
        </div>
        <div class="flex flex-row flex-1">
            <% @lessons.each_with_index do |lesson, index| %>
                    <%= link_to admin_lesson_index_show_path(lesson), class: "mr-4 mb-3 w-[15rem] group rounded px-6 py-2 shadow-md lesson_page_button
                                flex items-center flex-col h-fit unselected" do %>
                                <div class="w-full flex justify-between items-center">
                                    <span class="text-xl font-semibold group-hover:underline flex-1">
                                        <%= lesson.title.capitalize %>
                                    </span>
                                </div>
                    <% end %>
            <% end %>
        </div>
    </div>
    <!--
    <% if (@first_lesson.present?) %>
        <% turbo_frame_tag "show_lesson" do %>
            <% turbo_frame_tag @lesson do %>
                <% render partial: 'show', locals: { lesson: @first_lesson, subject: @subject } %>
            <% end %>
        <% end %>
    <% else %>    
        <% turbo_frame_tag "show_lesson", target: "_top" %>           
    <% end %>
    <% turbo_frame_tag "new_lesson", target: "_top" %>    
     -->       
</div>