<div class="title py-6 text-center text-4xl bg-slate-200">
      <div class="py-6"><%= @lesson.title.capitalize %></div>
</div>
<div class="pb-6 bg-[#F7FCFC]">
    <div class='<%= "flex flex-col md:px-10 mb-4 md:flex-row pt-6 md:pt-10" %>'>
        <figure class="mx-10 flex flex-1 flex-col items-center">
            <% if @image.representable? %>
                <%= image_tag(@image.representation(resize_to_limit: [300, 300]),
                    class: "object-fill w-full") %>
            <% else %>
                <%= image_tag(image_path('upload_image.png'), class: "object-fill w-full") %>
            <% end %>
        </figure>
        <div class="mx-10 flex flex-col items-center flex-1">
            <div class="text-2xl text-center pb-4 pt-6">
                <%= @lesson.subtitle.capitalize %>
            </div>
           <div class="p-2 text-lg flex-1">
                 <%= @lesson.description.capitalize %>
           </div>
           <%= link_to problem_path(@lesson), class: "p-4" do %>
             <button class="btn btn-blue border-black bg-slate-grey text-3xl font-light w-full rounded-xl">
                     Start Lesson
             </button>
           <% end %>
       </div>
    </div>
</div>
<div class="bg-[#F7FCFC]">
    <div class="mx-10 p-6 flex flex-col items-center">
        <div class="text-2xl text-center pt-4">
            Lesson Objectives:
        </div>
        <ul class="p-6 list-disc">
            <% @lesson.objectives.each do |objective| %>
                <li><%= objective %></li>
            <% end %>
        </ul>
    </div>
</div>